.mediaViewInfo {
	--web-view-name: вата;
	--web-view-id: ;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: ;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
# {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: вата;
	--web-view-id: ;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#_16 {
	position: absolute;
	width: 486px;
	height: 470px;
	left: 543px;
	top: 68px;
	overflow: visible;
}
#_4 {
	position: absolute;
	width: 596px;
	height: 447px;
	left: 1063px;
	top: 583px;
	overflow: visible;
}
#_5 {
	position: absolute;
	width: 608px;
	height: 470px;
	left: 1051px;
	top: 68px;
	overflow: visible;
}
#_15 {
	position: absolute;
	width: 596px;
	height: 447px;
	left: 420px;
	top: 583px;
	overflow: visible;
}
#_18 {
	position: absolute;
	width: 470px;
	height: 470px;
	left: 48px;
	top: 68px;
	overflow: visible;
}
#_____ {
	left: 48px;
	top: 583px;
	position: absolute;
	overflow: visible;
	width: 336px;
	height: 447px;
	text-align: center;
	font-family: Segoe UI;
	font-style: italic;
	font-weight: normal;
	font-size: 54px;
	color: rgba(121,15,24,1);
}
#_51_u {
	fill: url(#_51_u);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._51_u {
	position: absolute;
	overflow: visible;
	width: 216px;
	height: 1080px;
	left: 1706px;
	top: 1px;
}
#_52 {
	fill: rgba(175,86,80,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._52 {
	position: absolute;
	overflow: visible;
	width: 155px;
	height: 89px;
	left: 1737px;
	top: 122px;
}
#_16_w {
	fill: rgba(175,86,80,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._16_w {
	position: absolute;
	overflow: visible;
	width: 155px;
	height: 89px;
	left: 1737px;
	top: 122px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
#_4_x {
	fill: rgba(196,120,94,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._4_x {
	position: absolute;
	overflow: visible;
	width: 155px;
	height: 89px;
	left: 1735px;
	top: 228px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: rabota.html;
	cursor: pointer;
}
#_5_y {
	fill: rgba(220,158,109,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._5_y {
	position: absolute;
	overflow: visible;
	width: 155px;
	height: 89px;
	left: 1735px;
	top: 335px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: sherst.html;
	cursor: pointer;
}
#_6 {
	fill: rgba(238,185,120,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._6 {
	position: absolute;
	overflow: visible;
	width: 155px;
	height: 89px;
	left: 1735px;
	top: 442px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: igrushki.html;
	cursor: pointer;
}
#_11 {
	fill: rgba(218,179,149,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._11 {
	position: absolute;
	overflow: visible;
	width: 155px;
	height: 89px;
	left: 1735px;
	top: 549px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: papie.html;
	cursor: pointer;
}
#_12 {
	fill: rgba(238,207,180,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._12 {
	position: absolute;
	overflow: visible;
	width: 155px;
	height: 89px;
	left: 1735px;
	top: 656px;
}
#_13 {
	fill: rgba(183,128,118,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._13 {
	position: absolute;
	overflow: visible;
	width: 155px;
	height: 89px;
	left: 1735px;
	top: 763px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: hobby.html;
	cursor: pointer;
}
#_14 {
	fill: rgba(116,8,19,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._14 {
	position: absolute;
	overflow: visible;
	width: 155px;
	height: 89px;
	left: 1735px;
	top: 870px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: glina.html;
	cursor: pointer;
}
#_ {
	left: 1749px;
	top: 118px;
	position: absolute;
	overflow: visible;
	width: 129px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: italic;
	font-weight: normal;
	font-size: 33px;
	color: rgba(238,207,180,1);
}
#_ba {
	left: 1753px;
	top: 224px;
	position: absolute;
	overflow: visible;
	width: 120px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: italic;
	font-weight: normal;
	font-size: 33px;
	color: rgba(238,207,180,1);
}
#_bb {
	left: 1751px;
	top: 331px;
	position: absolute;
	overflow: visible;
	width: 123px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: italic;
	font-weight: normal;
	font-size: 33px;
	color: rgba(116,8,19,1);
}
#_bc {
	left: 1749px;
	top: 438px;
	position: absolute;
	overflow: visible;
	width: 129px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: italic;
	font-weight: normal;
	font-size: 33px;
	color: rgba(116,8,19,1);
}
#_bd {
	left: 1769px;
	top: 545px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: italic;
	font-weight: normal;
	font-size: 33px;
	color: rgba(116,8,19,1);
}
#_be {
	left: 1773px;
	top: 652px;
	position: absolute;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: italic;
	font-weight: normal;
	font-size: 33px;
	color: rgba(116,8,19,1);
}
#_bf {
	left: 1768px;
	top: 759px;
	position: absolute;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: italic;
	font-weight: normal;
	font-size: 33px;
	color: rgba(238,207,180,1);
}
#_bg {
	left: 1769px;
	top: 866px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: italic;
	font-weight: normal;
	font-size: 33px;
	color: rgba(238,207,180,1);
}